.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        "cabeçalho"
        "conteudo"
        "rodape"
    ;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    background-color: green;
    grid-area: cabeçalho;
}
 
.conteudo {
    background-color: red;
    grid-area: conteudo;
}

.rodape {
    background-color: blue;
    grid-area: rodape;
}